.footer{
    display: flex;
   
    flex-direction: column;
    padding: 2em;
    background-color: var(--branco);
}

.footer__titulo{
    font-size: 18px;
    font-weight: 500;
    color: var(--azul);
    padding: 0.5em;


}

.footer__descricao{
    font-weight: 300;
    padding: 0.5em;
}

.footer__input-email{
    align-self: center;
    background-color: transparent;
    border: 1px solid var(--azul);
    color: var(--branco);
    border-radius: 24px; 
    padding: 1em;
    width: 100%;
    text-align: center;


}